body {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
canvas {
    border: solid .2em #505050;
    transition: .9s;
    transition-timing-function: ease-in-out;
    margin-top: 1rem;
}
.player.local canvas {
    border: solid .2em #fff;
}
canvas.chomp {
    border: solid .2em rgb(0, 200, 0);
    transition: .05s;
    transition-timing-function: ease-in-out);
}
canvas.collide {
    border: solid .2em rgb(200, 0, 0);
    transition: .05s;
    transition-timing-function: ease-in-out);
}
.player.local canvas.chomp {
    border: solid .2em rgb(0, 200, 0);
    transition: .05s;
    transition-timing-function: ease-in-out);
}
.player.local canvas.collide {
    border: solid .2em rgb(200, 0, 0);
    transition: .05s;
    transition-timing-function: ease-in-out);
}
.highscore {
    margin-top: 1rem;
}
