body {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
.arena {
    border: solid .2em #fff;
    transition: .9s;
    transition-timing-function: ease-in-out;
    margin-top: 5vh;
}
.arena.chomp {
    border: solid .2em rgb(0, 200, 0);
    transition: .05s;
    transition-timing-function: ease-in-out);
}
.arena.collide {
    border: solid .2em rgb(200, 0, 0);
    transition: .05s;
    transition-timing-function: ease-in-out);
}
.highscore {
    margin-top: 1rem;
}